.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  align-items: center;
  color: green;
  justify-content: center;
  text-align: center;
  padding-bottom: 0.5rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
  opacity: 70%;
  padding-top: 2rem;
}

p {
  font-weight: 500;
}

.container {
  height: 70%;
  width: 70%;
  border-color: green;
  border-style: solid;
  border-radius: 2rem;
  border-width: 0.5rem;
  background-color: white;
}
.chat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 80%;
  overflow-y: scroll;
  padding: 1rem;
  border-color: green;
}

.user-message {
  background-color: green;
  color: white;
  align-self: flex-end;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  word-wrap: break-word;
}

.bot-message {
  background-color: green;
  color: white;
  align-self: flex-start;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  white-space: pre-wrap;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid green;
  outline: none;
}

button {
  width: 20%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: green;
  color: white;
  cursor: pointer;
  font-weight: 700;
  margin-left: 0.5rem;
}

button:hover {
  color: green;
  font-weight: 700;
  background-color: white;
  border: 2px solid green;
}

@media (max-width: 480px) {
  .container {
    height: 95%;
    width: 95%;
    border-color: green;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.3rem;
    background-color: white;
    margin: none;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    height: 95%;
    width: 95%;
    border-color: green;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.3rem;
    background-color: white;
    margin: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    height: 95%;
    width: 95%;
    border-color: green;
    border-style: solid;
    border-radius: 0.5rem;
    border-width: 0.3rem;
    background-color: white;
    margin: none;
  }
}
